.app__phone-numbers-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.app__phone-numbers-container h2 {
    font-size: 18px;
    margin-bottom: 1rem;
}

.app__phone-numbers {
    list-style-type: none;
    padding: 0;
    max-height: 16rem;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.app__phone-numbers-item {
    padding: 0.5rem;
    cursor: pointer;
}

.app__phone-numbers-item:hover {
    background-color: #f0f0f0;
}

.app__phone-numbers-item.active {
    background-color: #ff0000;
    color: #fff;
}